# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
* Identify the criteria and roles for determining the language to learn.
* Identify the users and benefits of Python.
* Identify the users and uses of the R language.
* Define SQL elements and list their benefits.
* Review languages such as Java, Scala, C++, JavaScript, and Julia.
* List the global communities for connecting with other users.

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. scikit learn
4. Keras
5. matplotlib
6. seaborn

##### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. Scala
6. Java

|Data Science Tools|
|------------------|
|Anaconda|
|Jupiter Notebooks|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
m=200
h=m/60
print(h)

3.3333333333333335

## Author
Jeny Rachel Samuel